//Fonts
@import url(https://fonts.googleapis.com/css?family=Ceviche+One);

//Override bootstrap by loading our custom variables
@import "./variables";

//Loading Bootstrap 
@import "bootstrap";
@import "bootstrap/theme";

//Rest of our app scss (organize plz)
:focus, input:focus{
    outline: none;
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $brand-primary-dark;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}

.sidebar-container {
  background-color: $brand-primary;
  height: 100%;
  padding: 1.5em;
}

.logo-container {
  background-color: $brand-primary-dark;
  .brand {
    color: $white;
    margin: 0.1em 0;
    text-align: center;
    font-family: 'Ceviche One', cursive;
    font-size: 6.2rem;
   }
}

.nav > li > a {
  color: $white;
}

.nav > li > a:hover, .nav > li > a:focus, .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: $brand-primary-dark;
}

.total-container {
  margin-top: 4em;
  padding-right: 0;
  table {
    width: 100%;
    td {
      text-align: right;
    }
  }
}
